<%= render "shared/league_header" %>

<h3 class="center">Team Roster: <%= @user_team.name %></h3>

<%= render "shared/weekbar", ajax_path: league_team_path(@league, params[:team_id]), start_week: 1, end_week: @league.weeks %>

<div class="weekly-league-info"></div>