<%= render "shared/league_header" %>

<h3 class="center">My team roster coming soon...</h3>

<%= @data.inspect.to_yaml %>

<%# @data.map {|d| [ d.player.full_name, d.points.to_s, d.league_points.to_s ]}.inspect.to_yaml %>
