<h1><%= "Leagues".titleize %></h1>

<%= link_to "Create New Traditional league", new_league_path, class: "btn btn-warning" %>
<%= link_to "Create New Weekly league", "#", class: "btn btn-warning" %>

<hr>
<%= render 'league_index_table', leagues: @leagues %>