<%= render "shared/league_header" %>

    <h1> <%= @league.name.titleize %> </h1>

<table class="table table-responsive table-condensed">
  <th>Team Name</th>
  <th>Team Owner</th>
  <tbody>
  <% @league.teams.each do |team| %>
      <tr>
        <%= content_tag(:td, link_to(team.name, '#', class: highlight_my_team(@user_team, team))) %>
        <%= content_tag(:td, link_to(team.user.email, '#' )) %>
      </tr>
  <% end %>
  </tbody>
</table>