<%= render "shared/league_header" %>

<p><b>Current Week: <%= @current_week %></b></p>
<p>NFL News</p>
<p>League News</p>
<p>Standings</p>

<td><%= link_to "Leave League", league_team_path(@league, @user_team), method: "delete", class: "btn btn-danger" %></td>