<h1> <%= @league.name.titleize %> </h1>

<%= link_to "League Schedule", league_schedule_path, class: "btn btn-primary", style: "margin-bottom: 10px" %>

<table class="table table-responsive table-condensed">
  <th>Team Name</th>
  <th>Team Owner</th>
  <tbody>
  <% @league.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, '#' %></td>
        <td><%= link_to team.user.email, '#' %></td>
      </tr>
  <% end %>
  </tbody>
</table>