<%= render "shared/league_header" %>
<h1>League Standings</h1>

<%= render 'shared/weekbar', ajax_path: standings_league_path ,start_week: 1, end_week: @league.weeks %>

<div class="weekly-league-info">
</div>