<div class="schedule-type-navigator">
  <%= link_to("League Schedule", schedule_league_path(@league), class: "btn btn-info") %>
  <%= link_to("Team Schedules", schedule_league_teams_path(@league), class: "btn btn-info") %>
</div>