<div class="btn-group week-bar" role="toolbar" data-week=<%= week %>>
  <% for week_number in 1..@league.weeks %>
      <button type="button" class="btn btn-default">Week <%= week_number %></button>
  <% end %>
</div>