<h1>WELCOME TO FANTASY FOOTBALL</h1>

<div class="center">
  <%= link_to "Sign Up Here", signup_path, class: "btn btn-large btn-success" %>
</div>

<div class="center">
    <%= image_tag "football_home.png", size: "600x400", class: "img-rounded", style: "margin-top: 25px" %>
</div>