@import "bootstrap";

label {
  cursor: default;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto;
}

label.required:after{
  content:"*";
  color: red;
}

.error-message {
  display: none;
}

.error .help-inline {
  display: block;
}

.help-inline {
  display: none;
}

.debug_dump {
  float: left;
  width: 75%;
  margin-top: 45px;
}

.week-bar {
  margin-bottom: 25px
}

.highlight {
  color: green !important;
  font-weight: bold !important;
}

.schedule-games {
  display: none;
}

.joined-league {
  font-weight: bold;
  font-style: italic;
  color: darkslategrey;
}

.user-combobox {
  width: 250px;
  font-size: 15px;
  height: 22px;
  margin-bottom: 40px;
}

.league-nav {
  margin-top: -15px;
}

.registration-name label {
  width: 200px;
  float: left;
  margin: 0 20px 0 0;
  display: block;
}

.registration-name input {
  width: 200px;
}

.registration-name .name1 {
  float: left;
  width: 50%;
}

.registration-name .name2 {
  float: right;
  width: 50%;
}

.registration-name .name2 input {
  width: 100%;
}

#remember_me {
  margin-bottom: 7px;
}

.team-panel {
  width: 375px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  display: inline-block;
}

#dynamic-team-schedule {
  width: 60%;
}